* {
	margin : 0;
	padding : 0;
	border : 0;
}

a{
	text-decoration : none;
}

body{
	height: 100%;
}

#left_side{
	transform: rotate(90deg);
	position: fixed;
	margin-top: 22%;
	z-index: 999;
}

#top_arrows{
	height: 77%; 
	cursor: pointer;
}

#frst_section{
	height: 110% !important;
}

main{
	height : 10%;
	width: 100%;
	display: flex;
}

article{
	width: 80%;
	position: relative;
}

#page_container{
	height : 100%;
	position: relative;
}

#main_page{
	height : 100%;
	width : 100%;
}

#frst_section{
	width : 88%;
	z-index: -10;
	position: fixed;
}

#img_project01{
	height : 43%;
	top : 32%;
	left: 13%;
}

#img_project02{
	height : 50% !important;
	left : -15%;
	top : 48%;
}

#a_close{
	position: absolute;
	height: 3%;
	top: 6.5%;
	left: 1%;
}

#a_close > img{
	height: 30%;
}

.cursor_p{
	cursor: pointer;
}

.menu_nav{
	position: absolute;
	transform: rotate(90deg);
	top: 7%;
}

.introduce_imgs{
	height: 60% !important;
}

.skill_imgs{
	margin-left: 10%;
	width : 100%;
}

.skill_imgs > img{
	height: 125px !important;
	width: 125px !important;
}

.content_section{
	width: 80%;
	position: fixed;
}

.content_section div{
	height : 100%;
}

.content_section img{
	position: absolute;
	margin-left: 45%;
	height : 100%;
}

.content_text{
	position: absolute;
	z-index: 998;
}

.c_yelloding{
	background-color: #DDA94B;
}

.c_blueding_b{
	color: #1E4174;
	font-weight: bold;
	font-size: x-large;
}

.c_blueding_s{
	color: #1E4174;
	font-weight: bold;
	font-size: small;
}

.te_r{
	text-align: right;
}

.r_90{
	transform: rotate(90deg);
}

.l_25per{
	left: 25%;
}

.l_27per{
	left: 27%;
}

.t_7per{
	top: 7%;
}

.p_b_20{
	padding-bottom: 20px;
}