* {
	margin : 0;
	padding : 0;
	border : 0;
}

a{
	text-decoration : none;
}

body{
	height: 100%;
}

aside{
	width: 5%;
	height: 60%;
	text-align: center;
	padding-top: 25%;
	transform: rotate(90deg);
}

main{
	height : 100%;
	width: 100%;
	display: flex;
}

article{
	width: 80%;
	text-align: center;
	position: relative;
}

section{
	position: absolute;
	top: 10%;
	left: 30%;
}

#page_container{
	height : 100%;
	position: relative;
}

#main_page{
	height : 100%;
	width : 100%;
	position: absolute;
}

.c_yelloding{
	background-color: #DDA94B;
}

.c_blueding{
	color: #1E4174;
	font-weight: bold;
	font-size: x-large;
}

.r_90 {
	transform : rotate(90deg);
}

.w_10per{
	height : 100%;
	width : 10%;
}

.w_90per{
	height : 100%;
	width : 90%;
}